---
import Layout from '../layouts/Layout.astro'
---

<Layout title='New App'>
  <section class='h-screen flex justify-center'>
    <h1 class='font-medium text-2xl opacity-70 mt-10'>Template</h1>
  </section>
</Layout>
