<section class='w-full flex px-36 pb-10'>
  <article class='w-2/3 pr-10 pl-32 pt-10 flex flex-col gap-y-10'>
    <h1 class='text-[#AA8C2C] font-title text-[5em]'>Sobre mi ...</h1>
    <p class='w-[87%] text-neutral-300/90 text-[20px] font-text'>
      Soy Ian, una tatuador comprometido con la excelencia artística, que se
      destaca por fusionar la destreza técnica y la creativaidad para ofrecer
      obras de arte únicas.
    </p>
  </article>
  <picture class='flex justify-center w-1/3'>
    <img
      src='../../public/images/perfil.jpeg'
      alt=''
      class='-z-10 aspect-auto object-cover rounded-t-full border-[2px] border-transparent bg-clip-border bg-gradient-to-b from-yellow-700 via-green-500 to-yellow-700'
    />
  </picture>
</section>
<style>
  img {
    mask-image: linear-gradient(to bottom, black 20%, transparent 95%);
  }
  h1,
  img,
  p {
    animation: reveal linear both;
    animation-timeline: scroll();
    animation-range: -50vh 60vh;
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
